<div class="container">
  <div class="row">
    <div class="col-xs-4">
        <label style="padding-top:5px;" class="control-label" for="includedinsurance">{{'Tour.FormLabel.IncludedInsurance' | translate}} {{formData.includedinsurance}}</label>
    </div>
    <div class="col-xs-2">
      <div class="onoffswitch">
          <input type="checkbox" name="includedinsurance"  ng-model="formData.includedinsurance" class="onoffswitch-checkbox" id="includedinsurance">
          <label class="onoffswitch-label" for="includedinsurance">
              <span class="onoffswitch-inner onoffswitch-inner-{{preflang}}"></span>
              <span class="onoffswitch-switch"></span>
          </label>
      </div>
    </div>
    <div class="col-xs-4">
        <label style="padding-top:5px;" class="control-label" for="includedtransportprivate">{{'Tour.FormLabel.IncludedTransportPrivate' | translate}}</label>
    </div>
    <div class="col-xs-2">
      <div class="onoffswitch">
          <input type="checkbox" name="includedtransportprivate" ng-model="formData.includedtransportprivate" class="onoffswitch-checkbox" id="includedtransportprivate">
          <label class="onoffswitch-label" for="includedtransportprivate">
              <span class="onoffswitch-inner onoffswitch-inner-{{preflang}}"></span>
              <span class="onoffswitch-switch"></span>
          </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
        <label style="padding-top:5px;" class="control-label" for="includedtransportterrestre">{{'Tour.FormLabel.IncludedTransportTerrestre' | translate}}</label>
    </div>
    <div class="col-xs-2">
      <div class="onoffswitch">
          <input type="checkbox" name="includedtransportterrestre" ng-model="formData.includedtransportterrestre" class="onoffswitch-checkbox" id="includedtransportterrestre">
          <label class="onoffswitch-label" for="includedtransportterrestre">
              <span class="onoffswitch-inner onoffswitch-inner-{{preflang}}"></span>
              <span class="onoffswitch-switch"></span>
          </label>
      </div>
    </div>
    <div class="col-xs-4">
        <label style="padding-top:5px;" class="control-label" for="included4x4">{{'Tour.FormLabel.Included4x4' | translate}}</label>
    </div>
    <div class="col-xs-2">
      <div class="onoffswitch">
          <input type="checkbox" name="included4x4" ng-model="formData.included4x4" class="onoffswitch-checkbox" id="included4x4">
          <label class="onoffswitch-label" for="included4x4">
              <span class="onoffswitch-inner onoffswitch-inner-{{preflang}}"></span>
              <span class="onoffswitch-switch"></span>
          </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
        <label classi"controg-label" for="includedguide">{{'Tour.FormLabel.IncludedGuide' | translate}}</label>
    </div>
    <div class="col-xs-2">
      <div class="onoffswitch">
          <input type="checkbox" name="includedguide" ng-model="formData.includedguide" class="onoffswitch-checkbox" id="includedguide">
          <label class="onoffswitch-label" for="includedguide">
              <span class="onoffswitch-inner onoffswitch-inner-{{preflang}}"></span>
              <span class="onoffswitch-switch"></span>
          </label>
      </div>
    </div>
    <div class="col-xs-4">
        <label style="padding-top:5px;" class="control-label" for="includedboating">{{'Tour.FormLabel.IncludedBoating' | translate}}</label>
    </div>
    <div class="col-xs-2">
      <div class="onoffswitch">
          <input type="checkbox" name="includedboating" ng-model="formData.includedboating" class="onoffswitch-checkbox" id="includedboating">
          <label class="onoffswitch-label" for="includedboating">
              <span class="onoffswitch-inner onoffswitch-inner-{{preflang}}"></span>
              <span class="onoffswitch-switch"></span>
          </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
        <label style="padding-top:5px;" class="control-label" for="includedaccommodation">{{'Tour.FormLabel.IncludedAccommodation' | translate}}</label>
    </div>
    <div class="col-xs-2">
      <div class="onoffswitch">
          <input type="checkbox" name="includedaccommodation" ng-model="formData.includedaccommodation" class="onoffswitch-checkbox" id="includedaccommodation">
          <label class="onoffswitch-label" for="includedaccommodation">
              <span class="onoffswitch-inner onoffswitch-inner-{{preflang}}"></span>
              <span class="onoffswitch-switch"></span>
          </label>
      </div>
    </div>
    <div class="col-xs-4">
        <label classi"controm-label" for="includedmeals">{{'Tour.FormLabel.IncludedMeals' | translate}}</label>
    </div>
    <div class="col-xs-2">
      <div class="onoffswitch">
          <input type="checkbox" name="includedmeals" ng-model="formData.includedmeals" class="onoffswitch-checkbox" id="includedmeals">
          <label class="onoffswitch-label" for="includedmeals">
              <span class="onoffswitch-inner onoffswitch-inner-{{preflang}}"></span>
              <span class="onoffswitch-switch"></span>
          </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
        <label style="padding-top:5px;" class="control-label" for="includedentrancefee">{{'Tour.FormLabel.IncludedEntranceFee' | translate}}</label>
    </div>
    <div class="col-xs-2">
      <div class="onoffswitch">
          <input type="checkbox" name="includedentrancefee" ng-model="formData.includedentrancefee" class="onoffswitch-checkbox" id="includedentrancefee">
          <label class="onoffswitch-label" for="includedentrancefee">
              <span class="onoffswitch-inner onoffswitch-inner-{{preflang}}"></span>
              <span class="onoffswitch-switch"></span>
          </label>
      </div>
    </div>
    <div class="col-xs-4">
        <label style="padding-top:5px;" class="control-label" for="includedgift">{{'Tour.FormLabel.IncludedGift' | translate}}</label>
    </div>
    <div class="col-xs-2">
      <div class="onoffswitch">
          <input type="checkbox" name="includedgift" ng-model="formData.includedgift" class="onoffswitch-checkbox" id="includedgift">
          <label class="onoffswitch-label" for="includedgift">
              <span class="onoffswitch-inner onoffswitch-inner-{{preflang}}"></span>
              <span class="onoffswitch-switch"></span>
          </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group" ng-class="{ 'has-error' : tourForm.additionalservices.$invalid && !tourForm.additionalservices.$pristine }">
          <label><span translate="Tour.FormLabel.AdditionalServices"></span></label>
          <textarea cols="77" name="additionalservices" rows="2" wrap="physical" class="form-control" ng-model="formData.additionalservices" placeholder="{{'Tour.PlaceHolder.AdditionalServices' | translate}}"></textarea>
          <div class="err_tip" ng-show="tourForm.additionalservices.$dirty && tourForm.additionalservices.$invalid">
            <span ng-show="tourForm.additionalservices.$invalid && !tourForm.additionalservices.$pristine"><span translate="ErrorMsg.Required"></span></span>
          </div>
      </div>
    </div>
  </div>

  <br>

  <div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
      <a ui-sref="{{action}}.itinerary" class="btn btn-block btn-info" ng-disabled="tourForm.$invalid" ng-class="{'btn-danger': tourForm.$invalid, 'btn-success': !tourForm.$invalid }">
        {{'Tour.FormLabel.NextSection' | translate}} <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
    </div>
  </div>
</div>
