<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group" ng-class="{ 'has-error' : tourForm.description.$invalid && !tourForm.description.$pristine }">
          <label class="required"><span translate="Tour.FormLabel.Description"></span></label>
          <p contenteditable="true" class="form-control" style="height: 75px;" ng-model="formData.description" placeholder="{{'Tour.PlaceHolder.Description' | translate}}"></p>

          <div class="err_tip" ng-show="tourForm.description.$dirty && tourForm.description.$invalid">
            <span ng-show="tourForm.description.$invalid && !tourForm.description.$pristine"><span translate="ErrorMsg.DescriptionRequired"></span></span>
          </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group" ng-class="{ 'has-error' : tourForm.summary.$invalid && !tourForm.summary.$pristine }">
          <label class="required"><span translate="Tour.FormLabel.Summary"></span></label>
          <textarea cols="77" name="summary" rows="3" wrap="physical" class="form-control" ng-model="formData.summary" placeholder="{{'Tour.PlaceHolder.Summary' | translate}}" required></textarea>
          <div class="err_tip" ng-show="tourForm.summary.$dirty && tourForm.summary.$invalid">
            <span ng-show="tourForm.summary.$invalid && !tourForm.summary.$pristine"><span translate="ErrorMsg.SummaryRequired"></span></span>
          </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group" ng-class="{ 'has-error' : tourForm.tips.$invalid && !tourForm.tips.$pristine }">
          <label><span translate="Tour.FormLabel.Tips"></span></label>
          <textarea cols="77" name="tips" rows="3" wrap="physical" class="form-control" ng-model="formData.tips" placeholder="{{'Tour.PlaceHolder.Tips' | translate}}"></textarea>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref-active="active" ui-sref="{{action}}.ratings" class="btn btn-block btn-info" ng-disabled="tourForm.$invalid" ng-class="{'btn-danger': tourForm.$invalid, 'btn-success': !tourForm.$invalid }">
        {{'Tour.FormLabel.NextSection' | translate}} <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
  </div>
</div>
