<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body style="margin: 10px; background: url('http://res.cloudinary.com/travelscolombia/image/upload/v1425585818/assets/demo-expotur/img/bg-ciudadperdida.jpg'); background-repeat: no-repeat; background-color: beige; background-size: 100% 100%;">

	<p>Hi {{name}},</p>
	<p>You have requested to have your password reset for your account at {{appName}} website.</p>
	<p>Please visit this url to reset your password: <a href="{{url}}" alt="Password reset token from expotur.com" title="Password reset token at expotur.com">link to your password reset at {{appName}}.</a></p>
	<br>
	<p>The {{appName}} Support Team</p>
	<p style="text-align:left"><a href="http://expotur.herokuapp.com"  alt="Visit expotur.com" title="Visit expotur.com"><img src="http://res.cloudinary.com/travelscolombia/image/upload/v1425587493/assets/demo-expotur/img/logo-expotur-xs.png" /></a></p>
	<em><p style="font-size: 12px; padding: 10px; text-align: center;">Please do not reply to this mail. If you need more information, please contact a Customer Service Representative at the following phone numbers: <strong>Santa Marta:</strong> 420 7739 / 311 418 2706 or <strong>Taganga:</strong> 421 9577 / 320 511 1458.</p></em>
	<hr>
	<p style="font-size: 10px; text-align: justify;">This e-mail and its attachments may contain privileged or confidential information and are addressed exclusively to their intended recipients. If you are not the intended recipient, please notify the sender immediately and delete this e-mail and its attachments from your system. The storage, recording, use or disclosure of this e-mail and its attachments by anyone other than the intended recipient is strictly prohibited. This message has been verified using antivirus software; however, the sender is not responsible for any damage to hardware or software resulting from the presence of any virus.</p>
</body>

</html>
