Cookies on the LinkedIn site
Last revised on September 18, 2014
At LinkedIn, we believe in being clear and open about how we use your information. In the spirit of transparency, this policy provides detailed information about how and when we use cookies.
Does LinkedIn use cookies?
Yes. As described in Section 1.8 of our Privacy Policy, we use cookies and other technologies to ensure everyone who uses LinkedIn has the best possible experience. Cookies also help us keep your account safe.
By continuing to use our services, you are agreeing to the use of cookies and similar technologies for the purposes we describe in this policy.
What is a cookie?
A cookie is a small file placed onto your device that enables LinkedIn features and functionality. For example, cookies enable us to identify your device, secure your access to LinkedIn and our sites generally, and even know if someone attempts to access your account from a different device. Cookies also enable you to easily share content on LinkedIn and help us serve relevant ads to you.
When does LinkedIn use cookies?
We use cookies on our websites (www.linkedin.com and slideshare.net) and mobile applications. Any browser loading these sites will receive cookies from us. For LinkedIn members and SlideShare users, we also place cookies in your browser when you visit non-LinkedIn sites that host our plugins (for example, LinkedIn's "Share" button) unless you opt out. If you're not a LinkedIn member, we will not place cookies in your browser through our plugins.
What types of cookies does LinkedIn use?
We use two types: persistent cookies and session cookies. A persistent cookie helps us recognize you as an existing user, so it's easier to return to LinkedIn without signing in again. After you sign in, a persistent cookie stays in your browser and will be read by LinkedIn when you return to the site. Session cookies only last for as long as the session (usually the current visit to a web site or a browser session).
Adobe Flash is another technology that can provide cookie-equivalent functionality. Adobe Flash is capable of storing information on your device (in a file outside of your browser). Please note that not all browsers provide the ability to remove Adobe Flash "cookies" (also called "locally stored objects," or "LSOs"). You can restrict or block Adobe Flash cookies/LSOs through the Adobe website. As with any cookie, if you do restrict flash cookies/LSOs, there may be some LinkedIn features you aren't able to use.
What are cookies used for?
Cookies can be used to do lots of different things, like recognize you when you visit LinkedIn, remember your preferences, and give you a personalized experience that's in line with your settings. Cookies also make your interactions with LinkedIn more secure and faster. Additionally, cookies allow us to bring you advertising both on and off the LinkedIn site, and bring customized features to you through LinkedIn plugins such as our "Share" button.
This table gives some more information about what we use cookies for:
Categories of Use	Description
Authentication	If you're signed in to LinkedIn, cookies help us show you the right information and personalize your experience.
Security	We use cookies to enable and support our security features, and to help us detect malicious activity and violations of our User Agreement.
Preferences, features and services	Cookies can tell us which language you prefer and what your communications preferences are. They can help you fill out forms on LinkedIn more easily. They also provide you with features, insights, and customized content in conjunction with our plugins. You can learn more about plugins in our Privacy Policy.
Advertising	We may use cookies to show you relevant advertising both on and off the LinkedIn site. We may also use a cookie to learn whether members who saw an ad on LinkedIn later visited the advertiser's site. Similarly, our partners may use a cookie to determine whether we've shown an ad and how it performed, or provide us with information about how you interact with ads. We may also work with a partner to show you an ad on or off LinkedIn, such as after you've visited a partner's site or application.
Performance, Analytics and Research	Cookies help us learn how well our site and plugins perform in different locations. We also use cookies to understand, improve, and research products, features, and services, including when you access LinkedIn from other websites, applications, or devices such as your work computer or your mobile device.
To learn more about our cookies, take a look at our cookie table in more detail. Please note that the names of cookies, pixels and other technologies may change over time.
How are cookies used for advertising purposes?
Cookies and ad technology such as web beacons, pixels, and anonymous ad network tags help us serve relevant ads to you more effectively. They also help us collect aggregated auditing, research, and reporting for advertisers. Pixels help us understand and improve our service, show you ads on LinkedIn, and know when content has been shown to you. Note: Because your web browser may request advertisements and web beacons directly from ad network servers, these networks can view, edit, or set their own cookies, just as if you had requested a web page from their site.
Although we do not use cookies to create a profile of your browsing behavior on third-party sites, we do use aggregate data from third parties and data from your profile and LinkedIn activity to show you relevant, interest-based advertising. We do not provide any personal information that we collect to advertisers. You can opt out of off-site and third-party-informed advertising by adjusting your settings. Please note that opting out will not remove advertising from the pages you visit; it will mean that the ads you see will not be matched to your interests.
You may have heard that LinkedIn recently acquired Bizo, Inc. For now, this cookie policy does not apply to Bizo. Learn more about Bizo cookies and how to opt out.
What third-party cookies does LinkedIn use?
Trusted partners like DoubleClick, BlueKai, and Lotame help us serve advertising on and off the LinkedIn site, and analytics companies like Google Analytics, Quantcast, Nielsen, and ComScore may also place cookies on your device. We also use Eloqua to help us manage inquiries about our talent and marketing solutions. Please read our partners' privacy policies (linked below) to ensure that you're comfortable with how they use cookies. We've also provided links to opt out of their services, if you'd like.
QuantCast
QuantCast opt-out
Google Analytics
Google Analytics opt-out
BlueKai
BlueKai opt-out
DoubleClick
DoubleClick opt-out
Nielsen Privacy Policy
Nielsen opt-out
Comscore Privacy Policy
Comscore opt-out
Eloqua
Eloqua opt-out
Lotame
Lotame opt-out
Controlling cookies
Most browsers allow you to control cookies through their settings preferences. However, if you limit the ability of websites to set cookies, you may worsen you overall user experience, since it will no longer be personalized to you. It may also stop you from saving customized settings like login information.
What to do if you don't want cookies to be set
If you don't want us to use cookies when you visit LinkedIn, you can opt out of some cookies on your settings page. In order for us to recognize that you have opted out of cookies, we have to place our LinkedIn opt-out cookie on your device so we can know not to set other LinkedIn cookies the next time you visit. If you do not want to receive cookies, you can also change your browser settings on your computer or other device you're using to access our services. If you use LinkedIn without changing your browser settings, we'll assume that you're happy to receive all cookies on the LinkedIn website. Please note that the LinkedIn site will not work properly without cookies.
To find out more about cookies, including how to see what cookies have been set and how to manage and delete them, visit wikipedia.org, www.allaboutcookies.org, or www.aboutcookies.org.
