<div class="form-group">
    <label for="description">{{'Tour.FormLabel.Description' | translate}}</label><br/>
    <textarea cols="85" name="description" rows="3" wrap="physical"></textarea>
</div>

<div class="form-group">
    <label for="description">{{'Tour.FormLabel.Summary' | translate}}</label><br/>
    <textarea cols="85" name="description" rows="2" wrap="physical"></textarea>
</div>

<div class="form-group">
    <label for="tags">{{'Tour.FormLabel.Tags' | translate}}</label><br/>
    <textarea cols="85" name="tags" rows="1" wrap="physical"></textarea>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="createTour.included" class="btn btn-block btn-info">
    {{'Tour.FormLabel.NextSection' | translate}}  <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>
