<section class="overlay animated fadeInRight">
	<div class="row container">
		<div class="shade col-xs-12 col-sm-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-2 col-md-8 col-md-offset-2" style="padding-top: 30px;">
			<div class="row">
				<div class="col-xs-12" style="background: rgba(255,255,255,0.8);color:#000;padding-bottom: 80px;">
					<h2 class="text-center"><span translate="global.privacy-policy.title"></span></h2>
					<h3><span translate="global.privacy-policy.intro-title"></span></h3>
					<p class="lead"><span translate="global.privacy-policy.intro-content"></span></p>
					<br>
					<h4><span translate="global.privacy-policy.intro-title1"></span></h4>
					<span><span translate="global.privacy-policy.intro-content1"></span></span>
					<br>
					<h4><span translate="global.privacy-policy.para1-title"></span></h4>
					<span><span translate="global.privacy-policy.para1-content"></span></span>
					<br>
					<h4><span translate="global.privacy-policy.para2-title"></span></h4>
					<span><span translate="global.privacy-policy.para2-content"></span></span>
					<br>
					<h4><span translate="global.privacy-policy.para3-title"></span></h4>
					<span><span translate="global.privacy-policy.para3-content"></span></span>
				</div>
			</div>
		</div>
	</div>
</section>
