<section class="animated fadeInRight" ng-controller="SlideshowController">

  <!--<div class="carousel-demo-fullscreen">
      <ul rn-carousel rn-carousel-controls rn-carousel-transition="hexagon" rn-carousel-index="carouselIndex" rn-carousel-auto-slide rn-carousel-buffered>
          <li ng-repeat="slide in slides track by slide.id" ng-class="'id-' + slide.id">
            <div class="hidden-xs hidden-sm" ng-style="{'background-image': 'url(' + slide.img + ')','background-repeat': 'no-repeat'}" style="background-size: 100% auto; background-position: center">
                <span class="slide"><img ng-src="{{slide.img}}" /></span>
            </div>
            <div class="hidden-md hidden-lg" ng-style="{'background-image': 'url(' + slide.img + ')','background-repeat': 'no-repeat','background-size': 'auto 100%'}" style="background-size: auto 100%; background-position: center">
                <span class="slide"><img ng-src="{{slide.img}}" /></span>
            </div>
          </li>
      </ul>

  </div>


   <nav>
    <div class="col-xs-12 text-center">
      <div class="btn-group btn-xs btn-group-justified">

        <div ng-repeat="style in styles" class="btn-group {{activeStyle(style)}}" ng-click="selectStyle({{style}})">
          <button class="btn btn-info btn-block" ng-href="#{{style}}"><span translate>Category.Label.{{style}}</span></button>
        </div>
      </div>
    </div>
  </nav> -->

</section>
