@charset "UTF-8";
@font-face {
  font-family: "minicons-webalys";
  src:url(../../assets/fonts/demoicons/minicons-webalys.eot);
  src:url(../../assets/fonts/demoicons/minicons-webalys.eot?#iefix) format("embedded-opentype"),
    url(../../assets/fonts/demoicons/minicons-webalys.ttf") format("truetype),
    url(../../assets/fonts/demoicons/minicons-webalys.svg#minicons-webalys) format("svg"),
    url(../../assets/fonts/demoicons/minicons-webalys.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

font-face {
    font-family: 'tivicon';
    src: url(../../assets/fonts/tivicon.eot?-n7oqdl);
    src: url(../../assets/fonts/tivicon.eot?#iefix-n7oqdl) format('embedded-opentype'),
    url(../../assets/fonts/tivicon.woff?-n7oqdl) format('woff'),
    url(../../assets/fonts/tivicon.ttf?-n7oqdl) format('truetype'),
    url(../../assets/fonts/tivicon.svg?-n7oqdl#tivicon) format('svg');
    font-weight: 400;
    font-style: normal;
}
[class*=" icon-"], [class^=icon-] {
    font-family: 'tivicon';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-tivicon_hamburger:before {
    content: "\e60e"}
.icon-tivicon_map:before {
    content: "\e618"}
.icon-tivicon_anchorage:before {
    content: "\e600"}
.icon-tivicon_arrow-down-o:before {
    content: "\e601"}
.icon-tivicon_arrow-left:before {
    content: "\e602"}
.icon-tivicon_arrow-right:before {
    content: "\e603"}
.icon-tivicon_arrow-up-o:before {
    content: "\e604"}
.icon-tivicon_autoplay:before {
    content: "\e605"}
.icon-tivicon_back:before {
    content: "\e606"}
.icon-tivicon_beach-o:before {
    content: "\e607"}
.icon-tivicon_bookmark:before {
    content: "\e608"}
.icon-tivicon_catalogue:before {
    content: "\e609"}
.icon-tivicon_close:before {
    content: "\e60a"}
.icon-tivicon_cog-o:before {
    content: "\e60b"}
.icon-tivicon_contact:before {
    content: "\e60c"}
.icon-tivicon_fullscreen:before {
    content: "\e60d"}
.icon-tivicon_heart:before {
    content: "\e60f"}
.icon-tivicon_home:before {
    content: "\e610"}
.icon-tivicon_hotel:before {
    content: "\e611"}
.icon-tivicon_info-o:before {
    content: "\e612"}
.icon-tivicon_landmark:before {
    content: "\e613"}
.icon-tivicon_like:before {
    content: "\e614"}
.icon-tivicon_magnifier-minus:before {
    content: "\e615"}
.icon-tivicon_magnifier-plus:before {
    content: "\e616"}
.icon-tivicon_magnifier:before {
    content: "\e617"}
.icon-tivicon_marina:before {
    content: "\e619"}
.icon-tivicon_medal:before {
    content: "\e61a"}
.icon-tivicon_music:before {
    content: "\e61b"}
.icon-tivicon_photo-o:before {
    content: "\e61c"}
.icon-tivicon_plan:before {
    content: "\e61d"}
.icon-tivicon_pois:before {
    content: "\e61e"}
.icon-tivicon_port:before {
    content: "\e61f"}
.icon-tivicon_recommended:before {
    content: "\e620"}
.icon-tivicon_residential-o:before {
    content: "\e621"}
.icon-tivicon_scaner:before {
    content: "\e622"}
.icon-tivicon_share:before {
    content: "\e623"}
.icon-tivicon_star:before {
    content: "\e624"}
.icon-tivicon_user-o:before {
    content: "\e625"}
.icon-tivicon_video-o:before {
    content: "\e626"}

.bt-icon:before,
.bt-icon-alt:before {
  font-family: "minicons-webalys";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
}

.bt-icon-alt:before {
  font-family: "FontAwesome";
}

.icon-window-delete:before {
  content: "\e000";
}

.icon-download:before {
  content: "\e002";
}

.icon-home:before {
  content: "\e003";
}

.icon-calendar:before {
  content: "\e004";
}

.icon-folder-add:before {
  content: "\e001";
}

.icon-windows:before {
  content: "\e008";
}

.icon-volume:before {
  content: "\e00e";
}

.icon-speaker:before {
  content: "\e011";
}

.icon-star:before {
  content: "\e012";
}

.icon-sun:before {
  content: "\e014";
}

.icon-trash:before {
  content: "\e018";
}

.icon-zoom:before {
  content: "\e005";
}

.icon-user-outline:before {
  content: "\e006";
}

.icon-picture:before {
  content: "\e007";
}

.icon-phone:before {
  content: "\e009";
}

.icon-newspaper:before {
  content: "\e00a";
}

.icon-printer:before {
  content: "\e00b";
}

.icon-microwave:before {
  content: "\e00c";
}

.icon-refresh:before {
  content: "\e00d";
}

.icon-lock:before {
  content: "\e00f";
}

.icon-email:before {
  content: "\e010";
}

.icon-browser:before {
  content: "\e013";
}

.icon-bubble:before {
  content: "\e015";
}

.icon-calculator:before {
  content: "\e016";
}

.icon-cd:before {
  content: "\e017";
}

.icon-enter:before {
  content: "\e019";
}

.icon-file-add:before {
  content: "\e01a";
}

.icon-flag:before {
  content: "\e01b";
}

.icon-twitter:before {
  content: "\e01c";
}

.icon-gplus:before {
  content: "\e020";
}

.icon-github:before {
  content: "\e021";
}

.icon-facebook:before {
  content: "\e01d";
}

/* Font Awesome */
.icon-step-backward:before {
  content: "\f048";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-play:before {
  content: "\f04b";
}
.icon {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("../../../dist/img/arrows.png");
    background-repeat: repeat-y;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),  only screen and (min--moz-device-pixel-ratio: 1.3),  only screen and (-o-min-device-pixel-ratio: 1.3 / 1),  only screen and (min-resolution: 125dpi),  only screen and (min-resolution: 1.3dppx) {
    .icon {
    background-image: url("../../../dist/img/arrows@2x.png");
    background-size: 250px 50px;
}
}.icon.white {
    background-image: url("../../../dist/img/arrows-white.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),  only screen and (min--moz-device-pixel-ratio: 1.3),  only screen and (-o-min-device-pixel-ratio: 1.3 / 1),  only screen and (min-resolution: 125dpi),  only screen and (min-resolution: 1.3dppx) {
    .icon.white {
    background-image: url("../../../dist/img/arrows-white@2x.png");
    background-size: 250px 50px;
}
}.icon.arrow-right {
    background-position: 0 0;
}
.icon.close {
    background-position: -50px 0;
}
.icon.arrow-down {
    background-position: -100px 0;
}
.icon.social {
    background-image: url("../../../dist/img/social-icons.png");
    background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),  only screen and (min--moz-device-pixel-ratio: 1.3),  only screen and (-o-min-device-pixel-ratio: 1.3 / 1),  only screen and (min-resolution: 125dpi),  only screen and (min-resolution: 1.3dppx) {
    .icon.social {
    background-image: url("../../../dist/img/social-icons@2x.png");
    background-size: 100px 100px;
}
}.icon.social.facebook {
    background-position: 0 0;
}
.icon.social.pinterest {
    background-position: -50px 0;
}
.icon-menu-close {
    display: block;
    width: 22px;
    height: 19px;
}
.icon-menu-close:after, .icon-menu-close:before {
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: beige;
    -webkit-transform-origin: 0px 1.5px;
    -moz-transform-origin: 0px 1.5px;
    -ms-transform-origin: 0px 1.5px;
    -o-transform-origin: 0px 1.5px;
    transform-origin: 0px 1.5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.icon-menu-close:after {
    top: 16px;
    -webkit-transform-origin: 0px 1.5px;
    -moz-transform-origin: 0px 1.5px;
    -ms-transform-origin: 0px 1.5px;
    -o-transform-origin: 0px 1.5px;
    transform-origin: 0px 1.5px;
}
.icon-menu-close span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: beige;
    margin: 8px 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.icon-close-back {
    display: block;
    width: 28px;
    height: 28px;
}
.icon-close-back span {
    position: absolute;
    display: block;
    width: 28px;
    height: 28px;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.icon-close-back span:before, .icon-close-back span:after {
    display: block;
    content: ' ';
    position: absolute;
    background: beige;
    height: 3px;
    width: 14px;
    top: 14px;
    left: 0;
    -webkit-transform-origin: 12.5px 1.5px;
    -moz-transform-origin: 12.5px 1.5px;
    -ms-transform-origin: 12.5px 1.5px;
    -o-transform-origin: 12.5px 1.5px;
    transform-origin: 12.5px 1.5px;
}
.icon-close-back .r:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.icon-close-back .r:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.icon-close-back .l:before {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.icon-close-back .l:after {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}
.icon-close-back:hover .r, a:hover .icon-close-back .r {
    opacity: 0;
    margin-left: 7px;
}
.icon-close-back:hover .l, a:hover .icon-close-back .l {
    margin-left: -7px;
}
.icon-arrow {
    position: relative;
    display: block;
    width: 26px;
    height: 12px;
    -webkit-transform: translateZ(0) scale(1 1);
    -moz-transform: translateZ(0) scale(1 1);
    -ms-transform: translateZ(0) scale(1 1);
    -o-transform: translateZ(0) scale(1 1);
    transform: translateZ(0) scale(1 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.icon-arrow span {
    position: absolute;
    display: block;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
    background-color: beige;
    opacity: 0;
    -webkit-transition: height 0.3s, width 0.3s, opacity 0.5s;
    -moz-transition: height 0.3s, width 0.3s, opacity 0.5s;
    transition: height 0.3s, width 0.3s, opacity 0.5s;
}
.icon-arrow:after, .icon-arrow:before {
    position: absolute;
    display: block;
    content: ' ';
    width: 14px;
    height: 3px;
    background-color: beige;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.icon-arrow.up:before, .icon-arrow.up:after {
    top: 0;
    left: 0;
    -webkit-transform-origin: 12.5px 1.5px;
    -moz-transform-origin: 12.5px 1.5px;
    -ms-transform-origin: 12.5px 1.5px;
    -o-transform-origin: 12.5px 1.5px;
    transform-origin: 12.5px 1.5px;
}
.icon-arrow.up:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.icon-arrow.up:after {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.icon-arrow.up span {
    top: 1px;
    left: 11px;
    width: 3px;
    height: 0;
}
.icon-arrow.down:before, .icon-arrow.down:after {
    bottom: 0;
    left: 0;
    -webkit-transform-origin: 12.5px 1.5px;
    -moz-transform-origin: 12.5px 1.5px;
    -ms-transform-origin: 12.5px 1.5px;
    -o-transform-origin: 12.5px 1.5px;
    transform-origin: 12.5px 1.5px;
}
.icon-arrow.down:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.icon-arrow.down:after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.icon-arrow.down span {
    bottom: 1px;
    left: 11px;
    width: 3px;
    height: 0;
}
.icon-arrow.left {
    width: 12px;
    height: 26px;
}
.icon-arrow.left:before, .icon-arrow.left:after {
    top: 11px;
    left: 0;
    -webkit-transform-origin: 1.5px 1.5px;
    -moz-transform-origin: 1.5px 1.5px;
    -ms-transform-origin: 1.5px 1.5px;
    -o-transform-origin: 1.5px 1.5px;
    transform-origin: 1.5px 1.5px;
}
.icon-arrow.left:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.icon-arrow.left:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.icon-arrow.left span {
    left: 1px;
    top: 11px;
    width: 0;
    height: 3px;
}
.icon-arrow.right {
    width: 12px;
    height: 26px;
}
.icon-arrow.right:before, .icon-arrow.right:after {
    top: 11px;
    right: 0;
    -webkit-transform-origin: 12.5px 1.5px;
    -moz-transform-origin: 12.5px 1.5px;
    -ms-transform-origin: 12.5px 1.5px;
    -o-transform-origin: 12.5px 1.5px;
    transform-origin: 12.5px 1.5px;
}
.icon-arrow.right:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.icon-arrow.right:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.icon-arrow.right span {
    right: 1px;
    top: 11px;
    width: 0;
    height: 3px;
}
.icon-arrow:hover.up span, .icon-arrow:hover.down span, a:hover .icon-arrow.up span, a:hover .icon-arrow.down span {
    height: 20px;
    opacity: 1;
}
.icon-arrow:hover.left span, .icon-arrow:hover.right span, a:hover .icon-arrow.left span, a:hover .icon-arrow.right span {
    width: 20px;
    opacity: 1;
}
.icon-arrow:hover.up, a:hover .icon-arrow.up {
    margin-top: -5px;
}
.icon-arrow:hover.down, a:hover .icon-arrow.down {
    margin-top: 5px;
}
.icon-arrow:hover.left, a:hover .icon-arrow.left {
    margin-left: -5px;
}
.icon-arrow:hover.right, a:hover .icon-arrow.right {
    margin-left: 5px;
}
.icon-button {
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    -webkit-transition: border-radius 0.3s;
    -moz-transition: border-radius 0.3s;
    transition: border-radius 0.3s;
    border: 2px solid #000;
    overflow: hidden;
}
.icon-button i.icon {
    position: relative;
    margin-left: -4px;
    margin-top: -54px;
    height: 100px;
    -webkit-transition: margin-top 0.4s;
    -moz-transition: margin-top 0.4s;
    transition: margin-top 0.4s;
}
.icon-button:hover i.icon {
    margin-top: -4px;
}
.icon-button-svg {
    display: block;
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    -webkit-transition: border-color 0.8s;
    -moz-transition: border-color 0.8s;
    transition: border-color 0.8s;
}
.icon-button-svg svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -7px;
    width: 14px;
    height: 14px;
    fill: beige;
}
.icon-button-svg:hover {
    border-color: beige;
    border-width: 2px;
}
.icon-button-svg:hover:after, .icon-button-svg:hover:before {
    visibility: visible;
    opacity: 1;
}
.icon-button-svg:hover:after {
    bottom: 60px;
}
.icon-button-svg:hover:before {
    bottom: 54px;
}
.icon-button-svg:after {
    position: absolute;
    bottom: 50px;
    left: -33px;
    width: 90px;
    visibility: hidden;
    content: attr(title);
    padding: 7px 10px;
    background: beige;
    font-family: 'Amasis',  serif;
    font-weight: bold;
    font-size: 0.875em;
    color: #000;
    text-align: center;
    border-radius: 3px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.icon-button-svg:before {
    position: absolute;
    visibility: hidden;
    bottom: 44px;
    left: 16px;
    content: ' ';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid beige;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
