<div class="row container" data-ng-controller="PasswordController" style="background-image: url('https://res.cloudinary.com/travelscolombia/image/upload/v1425585831/assets/demo-expotur/img/bg-beige.jpg'); position: top;">
    <h3 class="info text-center">{{'General.Label.Password.Restore' | translate}}</h3>

    <div class="col-xs-12">
        <form name="ForgotPasswordForm" data-ng-submit="askForPasswordReset()" class="signin form-horizontal" autocomplete="off">
            <fieldset>
                <div class="row container">
                  <div class="col-xs-12">
                    <div class="group" ng-class="{ 'has-error' : ForgotPasswordForm.username.$invalid && !ForgotPasswordForm.username.$pristine }">
                        <input
                        class="username"
                        type="text"
                        ng-model="credentials.username"
                        id="username"
                      required>
                      <div ng-show="ForgotPasswordForm.username.$dirty && ForgotPasswordForm.username.$invalid">
                        <span ng-show="ForgotPasswordForm.username.$invalid && !ForgotPasswordForm.username.$pristine"><span translate="ErrorMsg.NameRequired"></span></span>
                      </div>
                      <span class="highlight"></span>
                      <span class="bar username"></span>
                      <label><span translate="General.Label.Signup.Username"></span></label>
                    </div>
                  </div>
                </div>

                <div class="row container">
                  <div class="col-xs-6">
                    <button
                      ng-click="closeThisDialog('button')"
                      type="button"
                      class="btn btn-primary btn-block"
                      <span translate="global.action.Cancel"></span>
                    </button>
                  </div>
                  <div class="col-xs-6">
                      <button
                      ng-click="showGrowl = true"
                      class="btn btn-success btn-block"
                      ng-disabled="ForgotPasswordForm.$invalid"
                      ng-class="{'btn-danger': ForgotPasswordForm.$invalid, 'btn-success': !ForgotPasswordForm.$invalid }"><span translate="global.action.Submit"></span>
                      </button>
                  </div>
                </div>

                <div data-ng-if="error" class="text-center text-danger">
                    <strong>{{error | translate}}</strong>
                    <growl-notification class="fading btn-danger" ng-if="showGrowl">
                      <i class="big warning glyphicon glyphicon-warning-sign"></i>&nbsp;&nbsp;&nbsp;
                      <span translate="General.Notification.Attention"></span> <span translate="{{error}}"></span>
                    </growl-notification>
                </div>

                <div data-ng-if="success" ng-class="closeThisDialog('button')" class="text-center text-success">
                    <strong><span translate="General.Notification.Great"></span>&nbsp;
                      <span translate="General.Notification.PasswordEmailed"></span></strong>

                    <growl-notification class="fading btn-success" ng-if="showGrowl">
                        <i class="big success glyphicon glyphicon-exclamation-sign"></i>&nbsp;&nbsp;&nbsp;
                        <span translate="General.Notification.Great"></span>&nbsp;<span translate="General.Notification.PasswordEmailed"></span>
                    </growl-notification>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4 col-xs-offset-4 text-center" style="margin-top:20px">
        <p class="text-center"><img style="width: auto;" src="/assets/img/logo-expotur-sm.png" /></p>
      </div>
    </div>
</div>
