<section class="animated fadeInRight password" data-ng-controller="PasswordController">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>{{'General.Label.Password.Reset' | translate}}</h1>
    </div>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">

        <form name="ResetPasswordForm" data-ng-submit="resetUserPassword()" class="signin form-horizontal" autocomplete="off">
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error' : ResetPaswordForm.newPassword.$invalid && !ResetPaswordForm.newPassword.$pristine }">
                  <label class="required" for="newPassword"><span translate="form.change-password.newPassword"></span></label>
                  <input type="password" name="newPassword" data-ng-model="passwordDetails.newPassword" id="newPassword" class="form-control" placeholder="{{'form.change-password.newPassword' | translate}}" required>
                  <div ng-show="ResetPaswordForm.username.$dirty && ResetPaswordForm.username.$invalid">
                    <span ng-show="ResetPaswordForm.username.$invalid && !ResetPaswordForm.username.$pristine"><span translate="ErrorMsg.PasswordRequired"></span></span>
                  </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : ResetPaswordForm.verifyPassword.$invalid && !ResetPaswordForm.verifyPassword.$pristine }">
                  <label class="required" for="verifyPassword"><span translate="form.change-password.verifyPassword"></span></label>
                  <input type="password" name="verifyPassword" data-ng-model="passwordDetails.verifyPassword" id="verifyPassword" class="form-control" placeholder="{{'form.change-password.verifyPassword' | translate}}" required>
                  <div ng-show="ResetPaswordForm.username.$dirty && ResetPaswordForm.username.$invalid">
                    <span ng-show="ResetPaswordForm.username.$invalid && !ResetPaswordForm.username.$pristine"><span translate="ErrorMsg.PasswordRequired"></span></span>
                  </div>
                </div>

                <div class="text-center form-group">
                  <button ng-click="showGrowl = true" type="submit" class="btn btn-success btn-block"  ng-disabled="signinForm.$invalid" ng-class="{'btn-danger': signinForm.$invalid, 'btn-success': !signinForm.$invalid }">{{'General.Label.Password.Update' | translate}}
                  </button>
                </div>

                <div data-ng-if="error" class="text-center text-danger">
                    <h5 class="danger"><strong>{{error | translate}}</strong></h5>
                    <growl-notification class="fading btn-danger" ng-if="showGrowl">
                      <i class="big warning glyphicon glyphicon-warning-sign"></i>&nbsp;&nbsp;&nbsp;
                      {{'General.Notification.Attention' | translate}}  {{error | translate}}
                    </growl-notification>
                </div>
                <div data-ng-if="success" class="text-center text-success">
                    <growl-notification class="fading btn-success" ng-if="showGrowl">
                      <i class="big success glyphicon glyphicon-exclamation-sign"></i>&nbsp;&nbsp;&nbsp;
                      {{'General.Notification.WellDone' | translate}}{{authentication.user.firstName}}. {{'General.Notification.PasswordChangedSuccess' | translate}}
                    </growl-notification>
                </div>
            </fieldset>
        </form>
    </div>
  </div>
</section>
