<section class="animated fadeInRight password success">
	<p>&nbsp;</p>
	<h1 class="lead text-center">{{'General.Notification.PasswordChangedSuccess' | translate}}</h1>
	<growl-notification class="fading btn-success">
			<i class="big success glyphicon glyphicon-exclamation-sign"></i>&nbsp;&nbsp;&nbsp;
			{{'General.Notification.WellDone' | translate}}&nbsp;{{'General.Notification.PasswordChangedSuccess' | translate}}
	</growl-notification>
	<div class="row container">
		<div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 text-center">
			<a href="/#!/" class="btn btn-info btn-block">{{'global.action.GoBackHome' | translate}}</a>
		</div>
	</div>
</section>
