<section class="animated fadeInRight password">
	<p>&nbsp;</p>
	<h1 class="lead text-center">{{'General.ErrorMsg.PasswordResetInvalid' | translate}}</h1>
	<growl-notification class="fading btn-warning">
			<i class="big warning glyphicon glyphicon-warning-sign"></i>&nbsp;&nbsp;&nbsp;
			{{'General.Notification.Error' | translate}}&nbsp;&nbsp;{{'General.ErrorMsg.PasswordResetInvalid' | translate}}
	</growl-notification>
	<div class="row container">
		<div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 text-center">
			<a href="/#!/password/forgot" class="btn btn-info btn-block">{{'General.ErrorMsg.PasswordAskReset' | translate}}</a>
		</div>
	</div>
</section>
