<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body style="margin: 10px; background: url('http://res.cloudinary.com/travelscolombia/image/upload/v1425585818/assets/demo-expotur/img/bg-ciudadperdida.jpg'); background-repeat: no-repeat; background-color: beige; background-size: 100% 100%;">
	<p>Hola {{name}},</p>
	<p></p>
	<p>Este es un aviso para informarle que la contraseña de su cuenta acaba de ser cambiada con éxito.</p>
	<br>
	<p>El equipo de apoyo {{appName}}</p>
	<p style="text-align:left"><a href="http://expotur.herokuapp.com"  alt="Visita expotur.com" title="Visita expotur.com"><img src="http://res.cloudinary.com/travelscolombia/image/upload/v1425587493/assets/demo-expotur/img/logo-expotur-xs.png" /></a></p>
	<p style="font-size: 12px; padding: 10px; text-align: center;">Por favor no responda este correo, en caso de requerir información adicional comunicarse a los siguientes teléfonos de la línea de atención al cliente: <strong>Santa Marta:</strong> 421 9577 / 320 511 1458 o <strong>Taganga:</strong> 421 9577 / 320 511 1458.</p></em>
	<br>
	<hr>
	<p style="font-size: 10px; text-align: justify;"><em>El contenido de este mensaje y de los archivos adjuntos están dirigidos exclusivamente a sus destinatarios y puede contener información privilegiada o confidencial. Si usted no es el destinatario real, por favor informe de ello al remitente y elimine el mensaje de inmediato, de tal manera que no pueda acceder a él de nuevo. Está prohibida su retención, grabación, utilización o divulgación con cualquier propósito. Este mensaje ha sido verificado con software antivirus; sin embargo, el remitente no se hace responsable en caso de que en éste o en los archivos adjuntos haya presencia de algún virus que pueda generar daños en los equipos o programas del destinatario</em></p>

</body>

</html>
