<section data-ng-controller="MilestonesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="milestone.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user.roles=='*'">
		<a class="btn btn-primary" href="/#!/milestones/{{milestone._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>

	<div data-ng-hide="authentication.user.roles=='*'" class="text-center">
    <div class="col-xs-6 col-xs-offset-3 ">
      <h1 class="text-certer danger">{{'ErrorMsg.401' | translate}}</h1><hr><br>
      <p class="lead text-center">{{'ErrorMsg.401-para' | translate}}</a></p><br>
      <p class="text-center"><a ng-href="/#!/" class="btn btn-warning btn-block">{{'global.action.GoBackHome' | translate}}</a></p>
    </div>
  </div>

	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="milestone.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="milestone.user.displayName"></span>
		</em>
	</small>
</section>
