
	<div style="padding:0 20px 10px 20px">
		<h3 class="text-center">{{'General.Label.Booking' | translate}}</h3>
		<div class="row">
			<hr>
			<div class ="col-xs-6 text-left">
				<label class="text-center">{{'General.Label.StreetView' | translate}}</label>
				<img class="img-responsive" src="http://placehold.it/350x150" />
			</div>
			<div class ="col-xs-6 text-left">
				<label></span>{{'General.Label.OfficeHours' | translate}}</label>

				<h5><span class="fa fa-star">&nbsp;&nbsp;{{'General.Label.OpenEveryDay' | translate}}</h5>

				<label>{{'General.Label.Location' | translate}}</label>
				<h5>
					<span class="fa fa-home">&nbsp;&nbsp;</span>Calle 14 #18-50<br />
					<span class="fa fa-phone">&nbsp;&nbsp;</span>+57 35 421 9429 / 317 679 2441<br />
				</h5>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12 text-left">
				<form ng-app ng-controller="OrderFormController">

					<h1>Services</h1>

					<ul>
						<!-- Loop through the services array, assign a click handler, and set or
							remove the "active" css class if needed -->
						<li ng-repeat="service in services" ng-click="toggleActive(service)" ng-class="{active:service.active}">
							<!-- Notice the use of the currency filter, it will format the price -->
							{{service.name}} <span>{{service.price | currency}}</span>
						</li>
					</ul>

					<div class="total">
						<!-- Calculate the total price of all chosen services. Format it as currency. -->
						Total: <span>{{total() | currency}}</span>
					</div>

				</form>
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 text-center" style="margin-top:20px">
				<a ng-controller="ModalController" ng-click="showContactMap()" type="button" class="btn btn-success btn-lg" >{{'global.action.Submit' | translate}}</a>
				<a ng-click="close()" type="button" class="btn btn-primary btn-lg" >{{'global.action.Cancel' | translate}}</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-offset-4 col-xs-4 col-xs-offset-4 text-center" style="margin-top:20px">
			<p class="text-center"><img src="http://res.cloudinary.com/travelscolombia/image/upload/v1425585833/assets/demo-expotur/img/logo-expotur-xs.png" /></p>
		</div>
	</div>
