.qrcode {
  display: block;
  margin: 24px auto 16px;
  max-width: 100%;
}
.qrcode-link {
  display: table;
  margin: 24px auto 16px;
}
.qrcode-link .qrcode {
  margin: 0;
}
.footer {
  margin: 16px auto;
  width: 290px;
}
