<section class="animated fadeInRight password row" data-ng-controller="SettingsController" style="background-image: url('https://res.cloudinary.com/travelscolombia/image/upload/v1425585831/assets/demo-expotur/img/bg-beige.jpg'); position: top;">
	<h3 class="col-md-12 text-center"><span translate="form.change-password.title">Change your password</span></h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="ChangePasswordForm" data-ng-submit="changeUserPassword()" class="signin form-horizontal" autocomplete="off">
			<fieldset>

				<div class="form-group" ng-class="{ 'has-error' : ChangePasswordForm.currentPassword.$invalid && !ChangePasswordForm.currentPassword.$pristine }">
					<label class="required" for="currentPassword"><span translate="form.change-password.currentPassword"></span></label>
					<input type="password" name="currentPassword" data-ng-model="passwordDetails.currentPassword" id="currentPassword" class="form-control" placeholder="{{'form.change-password.currentPassword' | translate}}" required>
					<div ng-show="ChangePasswordForm.username.$dirty && ChangePasswordForm.username.$invalid">
						<span ng-show="ChangePasswordForm.username.$invalid && !ChangePasswordForm.username.$pristine"><span translate="ErrorMsg.PasswordRequired"></span></span>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error' : ChangePasswordForm.newPassword.$invalid && !ChangePasswordForm.newPassword.$pristine }">
					<label class="required" for="newPassword"><span translate="form.change-password.newPassword"></span></label>
					<input type="password" name="newPassword" data-ng-model="passwordDetails.newPassword" id="newPassword" class="form-control" placeholder="{{'form.change-password.newPassword' | translate}}" required>
					<div ng-show="ChangePasswordForm.username.$dirty && ChangePasswordForm.username.$invalid">
						<span ng-show="ChangePasswordForm.username.$invalid && !ChangePasswordForm.username.$pristine"><span translate="ErrorMsg.PasswordRequired"></span></span>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error' : ChangePasswordForm.verifyPassword.$invalid && !ChangePasswordForm.verifyPassword.$pristine }">
					<label class="required" for="verifyPassword"><span translate="form.change-password.verifyPassword"></span></label>
					<input type="password" name="verifyPassword" data-ng-model="passwordDetails.verifyPassword" id="verifyPassword" class="form-control" placeholder="{{'form.change-password.verifyPassword' | translate}}" required>
					<div ng-show="ChangePasswordForm.username.$dirty && ChangePasswordForm.username.$invalid">
						<span ng-show="ChangePasswordForm.username.$invalid && !ChangePasswordForm.username.$pristine"><span translate="ErrorMsg.PasswordRequired"></span></span>
					</div>
				</div>

				<div class="text-center form-group">
					<button ng-click="showGrowl = true" type="submit" class="btn btn-block btn-success" ng-disabled="ChangePasswordForm.$invalid" ng-class="{'btn-danger': ChangePasswordForm.$invalid, 'btn-success': !ChangePasswordForm.$invalid }"><span translate="form.change-password.savePassword"></button>
				</div>

				<div data-ng-if="success">
					<growl-notification class="fading btn-success" ng-if="showGrowl">
						<i class="big success glyphicon glyphicon-exclamation-sign"></i>&nbsp;&nbsp;&nbsp;
						<span translate="General.Notification.Success"></span> <span translate="General.Notification.PasswordChangedSuccess"></span>
					</growl-notification>
				</div>

				<div data-ng-if="error" class="text-center text-danger">
					<h5 class="danger"><strong>{{error | translate}}</strong></h5>
					<growl-notification class="fading btn-danger" ng-if="showGrowl">
					<i class="big warning glyphicon glyphicon-warning-sign"></i>&nbsp;&nbsp;&nbsp;
							{{'General.Notification.Oops' | translate}} <span translate="{{error}}"></span>
					</growl-notification>
				</div>
			</fieldset>
		</form>
	</div>
</section>
