<div class="container" data-ng-controller="SettingsController" style="background-image: url('/assets/img/bg-beige.jpg'); position: top;">
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4 col-xs-offset-4 text-center" style="margin-top:20px">
      <p class="text-center"><img style="width: auto;" src="/assets/img/logo-magictour-sm.png" /></p>
    </div>
  </div>
  <div class="row">
    <h3 class="ngDialog-message text-center">{{'form.change-password.title' | translate}}</h3>
    <br>
    <div class="col-xs-12">
        <form name="ChangePasswordForm" data-ng-submit="changeUserPassword()" class="form-horizontal" autocomplete="off">
            <fieldset>
                <div class="row container">
                  <div class="col-xs-12">
                    <div class="group" ng-class="{ 'has-error' : ChangePasswordForm.currentPassword.$invalid && !ChangePasswordForm.currentPassword.$pristine }">
                      <input type="password" name="currentPassword" data-ng-model="passwordDetails.currentPassword" id="currentPassword" class="form-control" required>
                      <span class="highlight"></span>
                      <span class="bar"></span>
                      <label><span translate="form.change-password.currentPassword"></span></label>
                    </div>
                  </div>
                </div>

                <div class="row container">
                  <div class="col-xs-6">
                    <div class="group" ng-class="{ 'has-error' : ChangePasswordForm.newPassword.$invalid && !ChangePasswordForm.newPassword.$pristine }">
                      <input type="password" name="newPassword" data-ng-model="passwordDetails.newPassword" id="newPassword" class="form-control" required>
                      <span class="highlight"></span>
                      <span class="bar"></span>
                      <label><span translate="form.change-password.newPassword"></span></label>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="group" ng-class="{ 'has-error' : ChangePasswordForm.verifyPassword.$invalid && !ChangePasswordForm.verifyPassword.$pristine }">
                      <input type="password" name="verifyPassword" data-ng-model="passwordDetails.verifyPassword" id="verifyPassword" class="form-control" required>
                      <span class="highlight"></span>
                      <span class="bar"></span>
                      <label><span translate="form.change-password.verifyPassword"></span></label>
                    </div>
                  </div>
                </div>
                <div class="row container">
                  <div class="col-xs-6">
                    <button
                      ng-click="closeThisDialog('button')"
                      type="button"
                      class="btn btn-primary btn-block"
                      <span translate="global.action.Cancel"></span>
                    </button>
                  </div>

                  <div class="col-xs-6">
                    <button
                      ng-click="showGrowl=true"
                      class="btn btn-success btn-block"
                      ng-disabled="ChangePasswordForm.$invalid"
                      ng-class="{'btn-danger': ChangePasswordForm.$invalid, 'btn-success': !ChangePasswordForm.$invalid }">{{'global.action.Submit' | translate}}
                    </button>
                  </div>
                </div>

                <div data-ng-if="error" class="text-center text-danger">
                    <strong>{{error | translate}}</strong>
                    <growl-notification class="fading btn-danger" ng-if="showGrowl">
                      <i class="big warning glyphicon glyphicon-warning-sign"></i>&nbsp;&nbsp;&nbsp;
                        {{'General.Notification.Attention' | translate}} <span translate="{{error}}"></span>
                    </growl-notification>
                </div>

                <div data-ng-if="success" ng-class="closeThisDialog('button')" class="text-center text-success">
                    <strong>{{'General.Notification.PasswordChangedSuccess' | translate}}</strong>
                    <growl-notification class="fading btn-success" ng-if="showGrowl">
                        <i class="big success glyphicon glyphicon-exclamation-sign"></i>&nbsp;&nbsp;&nbsp;
                        <span translate="General.Notification.WellDone"></span>&nbsp;&nbsp;<span translate="General.Notification.PasswordChangedSuccess"></span>
                    </growl-notification>
                </div>
            </fieldset>
        </form>
    </div>
  </div>
</div>
