<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body style="margin: 10px; background: url('http://res.cloudinary.com/travelscolombia/image/upload/v1425585818/assets/demo-expotur/img/bg-ciudadperdida.jpg'); background-repeat: no-repeat; background-color: beige; background-size: 100% 100%;">
	<p>Salut {{name}},</p>
	<p></p>
	<p>Succès. Ceci est une notification pour vous informer que le mot de passe de votre compte vient d'être changé.</p>
	<br>
	<p>L'équipe de soutien de {{appName}}.</p>
	<em><p style="text-align:left"><em><a href="http://expotur.herokuapp.com"  alt="Visitez expotur.com" title="Visitez expotur.com"><img src="http://res.cloudinary.com/travelscolombia/image/upload/v1425587493/assets/demo-expotur/img/logo-expotur-xs.png" /></a></p></em>
	<p style="font-size: 12px; padding: 10px; text-align: center;">S'il vous plaît ne pas répondre à ce courrier. Si vous avez besoin de plus amples renseignements, veuillez communiquez avec un préposé à la clientèle aux numéros de téléphone suivants: Santa Marta: 421 9577 / 320 511 1458 ou <strong>Taganga:</strong> 421 9577 / 320 511 1458.</p></em>
	<br>
	<hr>
	<p style="font-size: 10px; text-align: justify;">Ce courriel et ses pièces jointes peuvent contenir des informations privilégiées ou confidentielles et sont envoyées exclusivement à leurs destinataires. Si vous n'êtes pas le destinataire prévu, s'il vous plaît avisez immédiatement l'expéditeur et supprimer ce courriel et ses pièces jointes de votre système. Le stockage, l'enregistrement, l'utilisation ou la divulgation de ce courriel et ses pièces jointes par une personne autre que le destinataire prévu est strictement interdit. Ce message a été vérifié en utilisant un logiciel antivirus. Cependant, l'expéditeur n'est pas responsable de tout dommage matériel ou de logiciels résultant de la présence de virus.</p>

</body>

</html>
