<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body style="margin: 10px; background: url('http://res.cloudinary.com/travelscolombia/image/upload/v1425585818/assets/demo-expotur/img/bg-ciudadperdida.jpg'); background-repeat: no-repeat; background-color: beige; background-size: 100% 100%;">

	<p>Hi {{name}},</p>
	<p>Sie haben beantragt, um Ihr Passwort-Reset für Ihr Konto bei {{appName}} Website haben.</p>
	<p>Bitte besuchen Sie diese Seite, um Ihr Passwort zurückzusetzen: <a href="{{url}}" alt="Passwort-Reset-Token von expotur.com" title="Passwort-Reset-Token von expotur.com">link zum Zurücksetzen des Passworts an {{appName}}.</a></p>
	<br>
	<p>Das Support-Team {{appName}}.</p>
	<p style="text-align:left"><a href="http://expotur.herokuapp.com"  alt="Visit expotur.com" title="Visit expotur.com"><img src="http://res.cloudinary.com/travelscolombia/image/upload/v1425587493/assets/demo-expotur/img/logo-expotur-xs.png" /></a></p>
	<em><p style="font-size: 10px; color: #EB9316; padding: 12px; text-align: center;">Bitte antworten Sie nicht auf diese E-Mail. Wenn Sie weitere Informationen benötigen, kontaktieren Sie bitte einen Kundenservicemitarbeiter an den Telefonnummern: <strong>Santa Marta:</strong> 421 9577 / 320 511 1458 oder <strong>Taganga:</strong> 421 9577 / 320 511 1458.</p></em>
	<br>
	<hr>
	<p style="font-size: 10px; color: #999; text-align: justify;">Diese E-Mail mit Anhängen Umständen geheim oder vertrauliche Informationen enthalten und sich ausschließlich auf die vorgesehenen Empfänger gerichtet. Wenn Sie nicht der beabsichtigte Empfänger sind, informieren Sie bitte sofort den Absender und diese E-Mail mit Anhängen von Ihrem System zu löschen. Die Speicherung, Erfassung, Verwendung und Weitergabe dieser E-Mail mit Anhängen von jemand anderem als dem beabsichtigten Empfänger ist streng verboten. Diese Nachricht wurde mit Antivirus-Software überprüft; jedoch ist der Absender nicht für Schäden an der Hardware oder Software aus dem Vorhandensein von Viren resultierenden verantwortlich.</p>
</body>

</html>
